body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat',sans-serif;}
  p{
    line-height: 2;
  }
h2{
  font-weight: normal;
  color: #66bfbf;
}
.top-container {
  background-color: #c6ebf1;
  position: relative;
  padding-top: 100px;
  color: #66bfbf;
}
h1 {
  margin: 50px auto 0px auto;
  font-family: 'MonteCarlo',
  cursive;
  font-size: 5.62rem;

}
.middle-container {
background-color: #ffffff;
}
.bottom-container {
  background-color:#66bfbf;
  padding: 15px;
  margin-top: 10%;
}
.contact-me{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin: 50px auto;
  width: 40%;
  padding: 50px;
}
.footer-link{
  color: #11999e;
  margin: 15px;
  text-decoration: none;
}
.copyright{
  color: rgb(255, 255, 255);
  font-family: 'MonteCarlo',
  cursive;
  padding: 15px auto;
  font-size: 0.75rem;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.profile{
display: inline-block;
width: 200px;
height: 200px;

}
.head_title{
  font-size: 2.5rem;
  color: #66bfbf;
}
span{
  text-decoration: underline;
}
.skill-row{
  width: 50%;
  margin: 100px auto 150px auto;
  text-align: left;
}
.skill-row1 {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
}
.code{
  width: 25%;
  float: left;
  margin: 50px 25px 50px auto;
}
.mygoal{
width: 15%;
float: right;
margin: 50px auto 50px 30px;
color: #11999e;
}
.mygoals{
  padding: 30px;
}
.code-skill-description{
  padding: 30px;
}
h3{
  color: rgb(104, 205, 171);
}

hr{
  margin: 200px auto 100px auto;
  border-top: dotted;
  width: 4%;
  color: #5e7979;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 40px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.status{
  color: green;
  text-decoration: none;
  font-size: large;
}